/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue{
    color: lightskyblue; 
}

.day{
    font-size: 10px;
}

.logo-container{
    background-image: url(../assets/img/pattern.png);
    background-repeat: repeat-x; 
    background-size: contain;
    height: 100px;
    padding: 50px; 
    background-color: lightblue;
}

.logo{
    width: 200px;
}

ul{
    margin-left: 2em;
}

.pictures, .paragraph, h1, table, h4, ul {
    margin-top: 20px;
}

h4{
    color: gray;
}

.footer-photo{
    width: 312px;
    height: 209px;
    background-size: contain;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

.one{
    background-image: url(../assets/img/monitor.jpg);
    background-repeat: no-repeat;
}

.two{
    background-repeat: no-repeat;
    background-image: url(../assets/img/graph.jpg);
}

thead{
    background-color: rgb(72, 157, 210);
    color: white;
    text-align: left;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    width: calc(100% / 3);
}

.row-spare{
    background-color: lightblue;
}

main, footer{
    width: 95%;
    margin: auto;
}

span, .day{
    color: gray;
}