/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the author */
.the-booleaner{
    color: lightskyblue; 
}

/* the date */
.day{
    font-size: 10px;
}

h6{
    color: gray;
}

/* pattern */
header{
    background-image: url("../assets/img/pattern.png"); 
    background-repeat: repeat-x; 
    background-size: 20%;
    height: 100px;
    background-color: lightblue;
    padding-top: 30px;
}

/* logo section */
.logo-container{
   margin: 0 auto;  
   width: 80%;
}

.logo{
    width: 280px;
}

/* tim photos */
.tim-photos img{
    width: 50%;
}

/* margin to the unordered list */
ul{
    margin-left: 1em;
}

/* general margin to space sections */
section, figure, footer {
    margin-top: 20px;
}

/* photo description */
#photo-description{
    margin: 0;
}

/* ho forzato le dimensioni 
perchè in tutti i modi in cui ho provato mi 
dava l'immagine minuscola, anche cambiando la width */ 
.footer-photo{
    width: 312px;
    height: 209px;
    background-size: contain;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

.one{
    background-image: url(../assets/img/monitor.jpg);
    background-repeat: no-repeat;
}

.two{
    background-repeat: no-repeat;
    background-image: url(../assets/img/graph.jpg);
}


/* table */
thead{
    background-color: rgb(72, 157, 210);
    color: white;
    text-align: left;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    width: calc(100% / 3);
}

.row-spare{
    background-color: lightblue;
}

/* footer */
main, footer{
    width: 80%;
    margin: 0 auto;
}

h4{
    color: gray;
}